@import 'variable';

// Test variable
// h1 {
//     color: $red-color;
// } 

// Background
.bg-dark {
    background: #1d1d1d !important;
}

body {
    background: #2b2b2b;
    color: #fff;
}

// Card course
.card-course-item {
    margin-top: 16px;
}

.dropdown {
    display: flex;
}

.dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 4px;
}

.card-title {
    color: #ff0730;
}

// CSS table course of me
.table-courses {
    text-align: center;
    line-height: 37.5px;
}

.table-courses .form-check,
.table-courses .form-check-input {
    margin-right: 0;
}

.table-courses .form-check-input {
    margin-top: 13px;
}

// CSS modal
.modal {
    color: #000;
}

// Courses list
.list-courses__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.list-courses__header-custom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-courses__header-custom .select-action {
    width: 140px;
    margin: 0 18px;
}

.list-courses__header-trash:hover {
    color: #ff0730;
}